/* root master oimniscient rules */
:root {

    /* page divisions */
    --page-rows: 4;
    --page-cols: 32;

    /* element fractionnal sizes */
    --header-h: 2;
    --navbar-w: 8;
    --logo-home: 2;
    --socials: 1;

    /* colors */
    --green: rgb(73, 112, 87);
    --green-shadow: rgb(58, 153, 145);
    --pink: #f58daf;
    --blue: rgb(226, 238, 255);
    --blue-dark: rgb(10, 10, 161);
    --grey: rgb(167, 167, 167);
    --grey-shadow: rgb(108, 108, 108);
    --grey-white: rgb(245, 245, 245);
    --grey-white-shadow: rgb(176, 176, 176);
    --grey-black: rgb(52, 52, 52);
        
    /* fonts */
    --body-font: 'Spline Sans', sans-serif;
    --altbody-font: 'Crimson Text', serif;
    --display-font: 'Bricolage Grotesque', sans-serif;
    --fine-font: 'Sofia Sans', sans-serif;

  }

/* page */
* {
  margin: 0;
}
html, body {
  background-color: var(--grey-black);
  width: 100vw;
  height: 100vh;
}

/* containers */
#log-container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
#log-container::-webkit-scrollbar {
  width: 0.5rem;
}
#log-container::-webkit-scrollbar-thumb{
  background-color: var(--green);
  margin-right: 0.25rem;
}
#log-container::-webkit-scrollbar-track{
  background: white;
  margin-right: 0.25rem;
}

#content {
    display: grid;
    grid-template-columns: 85% 1fr;
    gap: 2rem;
  }
#content > #textlog,
#content > .doc-imgs {
    padding: 10px;
}
#content > #textlog > h1,
#content > #textlog > h2,
#content > #textlog > p {
    color: white;
}
#content > #textlog > p,
#content > #textlog > h2 {
    font-family: var(--fine-font);
    font-size: 0.9rem;
    font-weight: 100;
    line-height: 1.1rem;
    padding-left: 1rem;
    padding-bottom: 0.25rem;
}
#content > #textlog > h1 {
    font-family: var(--altbody-font);
    font-size: 1rem;
    padding-bottom: 0.25rem;
    padding-top: 1.3rem;
}
#content > #textlog > h2 {
    padding-top: 0.4rem;
}
#content > #textlog > p {
    text-indent: 1rem;
}

