/* root master oimniscient rules */
:root {
    /* colors */
    --main-color: #B7B7B7;
    --nav-color: #b8cae6;
    --footer-color: #F66F8E;
    --shadow-color: #a5a5a5;
        
    /* fonts */
    --body-font: 'Spline Sans', sans-serif;
    --altbody-font: 'Crimson Text', serif;
    --display-font: 'Bricolage Grotesque', sans-serif;
    --fine-font: 'Sofia Sans', sans-serif;

    --text-body-size: 1rem;
    --text-footnote-size: 0.9rem;
    
    /* button colors */
    --off-color: white;
    --hover-color: #B7B7B7;
    --on-color: #000000;

    /* button sizes */
    --button-text-size-L: 1.6rem;
    --button-img-size-L: 2.6em;
    --button-text-size-M: 1.1rem;
    --button-img-size-M: 1.5em;
    --button-text-size-S: 0.9rem;
    --button-img-size-S: 1.3em;

    /* animation properties */
    --stretch-amount: 350;
    --stretch-translate: var(--stretch-amount)px;
  }
  
* {
    margin: 0;
}
html, body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

/* common to all pages */
a, .button-text {
    color: black;
    text-decoration-line: underline;
    text-decoration-thickness: 5%;
}
a:hover, .button-text:hover {
    color: var(--hover-color);
  }

.wrapper {
    width: 100vw;
    height: 100vh;
    display: none;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

/* font classes */
.type-display {
    font-family: var(--display-font);
    font-weight: 600;
}
.type-body {
    font-family: var(--body-font);
    font-weight: 400;
}
.type-altbody {
    font-family: var(--altbody-font);
    font-weight: 600;
}
.type-footnote {
    font-family: var(--fine-font);
    font-weight: 400;
    color: white;
}
    .type-footnote > a:hover {
        color: var(--nav-color);
    }

/* found in each pages, but with modifications */
.bg {
    background: var(--main-color);
    grid-column: 1/25;
    grid-row: 1/13;
}

/* navigation */
.nav {
    background: var(--nav-color);
    grid-row: 1/13;
    box-shadow: 0rem 0rem 2rem 0.5rem var(--shadow-color);
}
    #gallery-nav{
        grid-column: 1/5;
    }
    #fluid-img-box{
        grid-row: 1/13;
        grid-column: 1/6;
        overflow: hidden;
        text-align: right; 
    }
    #fluid-img {
        object-fit: contain; 
        float: left;
        height: 120%;
        width: auto;
    }

/* footer or green block */
.footer {
    background: var(--footer-color); 
    box-shadow: 0rem 0rem 1rem 0.1rem var(--shadow-color);
}
    #gallery-footer {
        grid-column: 5/25;
        grid-row: 12/13;
    }

/* bunny logo */
.bunny {
    background-size: contain;
    background-position: center;
    background-image: url('assets/logo_bunny.png');
    background-repeat: no-repeat;
    overflow: visible;
}
    #gallery-bunny {
        grid-column: 1/5;
        grid-row: 9/13;
        background-position: top left;
        margin-bottom: 0.2rem;
    }
           
/* buttons */
.button-grid {
    display: grid;
    width: 100%;
}
.button-component {
    height: 1.3rem;
    padding-bottom: 0.3rem;
    display: grid;
    position: relative;
}
.button-component > p, .button-component > a {
    cursor: pointer;
    position: absolute;
    height: auto;
    top: 50%;
    }
    #gallery-button-box {
        grid-column: 2/11;
        grid-row: 2/8;
    }
    #gallery-contact-button-box {
        grid-column: 2/11;
        grid-row: 7/8;
    }
    .gallery-category-button-component {
        align-items: center;
        grid-template-columns: auto 1fr; 
    }
        .gallery-category-button-component > p, .gallery-category-button-component > a{
            font-family: var(--display-font);
            font-size: var(--button-text-size-M);
            font-weight: 600;
        }
        .gallery-category-button-component .button-text {
            margin-left: calc(var(--button-text-size-M) + 1rem);
            margin-top: calc(var(--button-text-size-M) / 2 * -1);            
        }
        .gallery-category-button-component > .button-img {
            justify-self: start;
            width: var(--button-img-size-M);
            height: var(--button-img-size-M);
        }
        .button-component > .button-text {
            z-index: 1;
        }
    .gallery-content-button-component {
        align-items: center;
        padding-top: 0.15rem;
        padding-bottom: 0.15rem;
        grid-template-columns: auto 1fr; 
        margin-left: 2rem;
    }
    .gallery-content-button-component > p {
        font-family: var(--display-font);
        font-weight: 600;
        margin-left: calc(var(--button-text-size-S) + 1em);
        margin-top: calc(var(--button-text-size-S) / 2 * -1);
        font-size: var(--button-text-size-S);
    }
    .gallery-content-button-component > .button-img {
        justify-self: start;
        width: var(--button-img-size-S);
        height: var(--button-img-size-S);
    }
.button-img-container {
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(3, auto);
}
    .button-img-container-projects {
        display: grid;
        width: fit-content;
        grid-template-columns: repeat(3, auto);
    }   
.button-img-container > img {
    display: block;
    width: auto;
    height: var(--button-img-size-M);
}
    .button-img-container-projects > img {
        display: block;
        width: auto;
        height: var(--button-img-size-S);
    }
.button-img-container > div {
    display: block;
    width: auto;
    height: var(--button-text-size-M);
}
    .button-img-container-projects > div {
        display: block;
        width: auto;
        height: var(--button-text-size-S);
    }  

/* only in gallery */
.menu-active{
    /* background-color: black; */
    color: var(--footer-color);
}
.menu-category{
    /* collapsible menu, class selector: categories */
}
#menu-category-3D{
    /* collapsible menu, id selector: 3D category */
}
.menu-3D{
    /* collapsible menu, class selector: 3D projects */
}
#menu-category-inter{
    /* collapsible menu, id selector: interactivity category */
}
.menu-project{
    /* collapsible menu, class selector: all projects */
}
.menu-inter{
    /* collapsible menu, class selector: interactivity projects */
}
#menu-category-coding{
    /* collapsible menu, id selector: coding category */
}
.menu-coding{
    /* collapsible menu, class selector: coding projects */
}
#menu-category-tattoo{
    /* collapsible menu, id selector: tattoo category */
}
.menu-tattoo{
    /* collapsible menu, class selector: tattoo projects */
}

#artwork-title {
    grid-column: 14/24;
    grid-row: 2/3;
}
    #artwork-title-main {
        font-size: 2.5rem;
    }
    #artwork-title-sub {
        font-size: 1.2rem;  
        font-weight: 400;  
    }

.artwork-viewer {
        grid-column: 15/23;
        grid-row: 3/8;
        margin-top: 1rem;
        margin-bottom: 1rem;
        position: relative; 
    } 
    #artwork-viewer-bg {
        grid-column: 15/23;
        grid-row: 3/8;
        margin-top: 1rem;
        margin-bottom: 1rem;
        position: relative; 
        background-color: black;
    }
    #artwork-viewer-img {
        width: 100%; 
        height: 100%; 
        object-fit: contain; 
        position: absolute;
        top: 0;
        left: 0;
    }
    #artwork-viewer-vid-02 {
        width: 100%; 
        height: 100%; 
        object-fit: contain; 
        position: absolute;
        top: 0;
        left: 0;
    }
    #artwork-viewer-img:hover {
        cursor: pointer;
    }
    
.artwork-button-box {
    height: 10px;
    position: relative;
    grid-row: 5;
}
.artwork-button {
    /* id selector, for viewer button (change image) */
}
.artwork-button:hover {
    cursor: pointer;
    background-color: hotpink;
}
    #left-arrow-button {
        grid-column: 14/15;
        margin-right: 0.2em;
        text-align: right;
    }
    #left-viewer-button {
        /* selector */
    }
    #right-arrow-button {
        grid-column: 23/24;
        margin-left: 0.2em;
        text-align: left;
    }
    #right-viewer-button {
        /* selector */
    }
    .artwork-button-box > .button-img {
        vertical-align: middle;
        top: 50%;
        width: var(--button-img-size-L);
        height: var(--button-img-size-L);
    }
.artwork-text {
    grid-column: 14/24;
    grid-row: 8/12;
    margin-bottom: 1rem;
}
#artwork-description {
    font-size: var( --text-body-size);
    overflow-y: scroll;
    height: 100%;
}
.artwork-footnote-box {
    grid-column: 14/24;
    grid-row: 12/13;
}
#artwork-footnote {
    font-size: var(--text-footnote-size);
}


/* The Modal (expanded viewer) */
.modal {
    display: none; 
    z-index: 2; /* Sit on top */
    left: 0;
    grid-column: 1/25;
    grid-row: 1/13;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.93);
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.modal-artwork-viewer {
    border-style: solid;
    border-radius: 0.01rem;
    grid-column: 4/22;
    grid-row: 2/12;
    position: relative;
}
    #modal-artwork-viewer-bg {
        grid-column: 4/22;
        grid-row: 2/12;
        position: relative;
        background-color: black;
    }
    #modal-artwork-viewer-img {
        width: 100%; 
        height: 100%; 
        object-fit: contain; 
        position: absolute;
        top: 0;
        left: 0;
    }

.modal-left-viewer-button {
    height: 25px;
    position: relative;
    grid-column: 2/3;
    grid-row: 6;
}
.modal-right-viewer-button {
    height: 25px;
    position: relative;
    grid-column: 23/24;
    grid-row: 6;
}
.modal-artwork-button {
    /* selector to add hover class on modal buttons */
}
.modal-artwork-button:hover {
    cursor: pointer;
}
    .modal-left-viewer-button > .button-img {
        vertical-align: middle;
        width: var(--button-img-size-L);
        height: var(--button-img-size-L);
    }    
    .modal-right-viewer-button > .button-img {
        vertical-align: middle;
        width: var(--button-img-size-L);
        height: var(--button-img-size-L);
    }

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 3rem;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 0.3rem;
}
::-webkit-scrollbar-track {
    background: var(--nav-color);
}
::-webkit-scrollbar-thumb {
    box-shadow: 0rem 0.1rem 1rem 1rem var(--shadow-color);
    background: var(--footer-color);
}


.clicked-animation {
    transform-origin: 0 center;
    animation-name: stretch;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes stretch {
    from {scale: 0 1;}
    to {scale: var(--stretch-amount) 1;}
}
.translate-animation {
    transform-origin: 0 center;
    animation-name: translate;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes translate {
    from {transform: translateX(0);}
    to {transform: translateX(var(--stretch-amount));}
}
.hover-animation {
    animation-name: expand;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes expand {
    0% { transform: scaleX(1) scaleY(1); }
    100% { transform: scaleX(1.5) scaleY(1.5); }
}
@keyframes expand-l {
    0% { transform: scaleX(1) scaleY(1); }
    100% { transform: scaleX(1.4) scaleY(1.3)}
}
@keyframes expand-r {
    0% { transform: scaleX(1) scaleY(1); }
    100% { transform: scaleX(1.4) scaleY(1.3)}
}
@keyframes expand-m {
    0% { transform: scaleX(1) scaleY(1); }
    100% { transform: scaleX(1) scaleY(1.3);}
}
.hover-animation-l {
    transform-origin: 1 center;
    animation-name: expand-l;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.hover-animation-m {
    transform-origin: center center;
    animation-name: expand-m;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}.hover-animation-r {
    transform-origin: 0 center;
    animation-name: expand-r;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.contact-btn-link {
    /* selector */
}

.loading-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 100px;
    height: 100px;
    animation-name: expand-load;
    animation-duration: 170ms;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
}

@keyframes expand-load {
    0% { transform: scale(1);}
    100% { transform: scale(1.3);}
}


/* video viewer */
.video-viewer {
}