/* root master oimniscient rules */
:root {

    /* page divisions */
    --page-rows: 24;
    --page-cols: 32;

    /* element fractionnal sizes */
    --header-h: 2;
    --navbar-w: 8;
    --logo-home: 2;
    --socials: 1;

    /* colors */
    --grey: rgb(167, 167, 167);
    --green: rgb(110 142 111);
    --pink: #f58daf;
    --grey-white: rgb(245, 245, 245);
    --grey-black: rgb(53, 53, 53);
        
    /* fonts */
    --body-font: 'Spline Sans', sans-serif;
    --altbody-font: 'Crimson Text', serif;
    --display-font: 'Bricolage Grotesque', sans-serif;
    --fine-font: 'Sofia Sans', sans-serif;

  }

/* page */
* {
  margin: 0;
}
html, body {
  width: 100vw;
  height: 100vh;
}

/* containers */
#home-container {
  display: grid;
  grid-template-columns: repeat(var(--page-cols), minmax(0, 1fr));
  grid-template-rows: repeat(var(--page-rows), minmax(0, 1fr));
  width: 100vw;
  height: 100vh;
}

/* header */
#header {
  display: grid;
  grid-template-columns: repeat(var(--page-cols), minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-column: 1 / calc(var(--page-cols) + 1);
  grid-row: 1 / span 2;
  background-color: var(--green);
}
#header > #name-box {
  grid-column: 11 / calc(var(--page-cols) + 1 - 2);
  grid-row: 2;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#header > #name-box > #name,
#header > #name-box > #alias {
  color: black;
  text-decoration: none;
}
#header > #name-box > #name {
  font-family: var(--altbody-font);
  font-size: 1.25rem;
}
#header > #name-box > #alias {
  font-family: var(--display-font);
  font-size: 1.2rem;
}
#header > #name-box > #name:hover,
#header > #name-box > #alias:hover {
  cursor: pointer;
  color: var(--pink);
}

/* navbar */
#navbar {
  grid-column: 1 / span 8;
  grid-row: 1 / calc(var(--page-rows)  + 1);
  background-color: var(--grey);
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-template-rows: repeat(var(--page-rows), minmax(0, 1fr));
  justify-items: center;
}
#navbar > #logo {
  z-index: 1;
  grid-column: 4 / span 2;
  grid-row: 2 / span 2;
}
#navbar > #logo > img {
  height: 125%;
}
#navbar > #about-button {
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-left: 0.25rem;
  background-color: rgb(110 142 111);
  grid-column: 1/9;
  grid-row: 5;
  text-decoration: none;
}
#navbar > #about-button > #about-button-text {
  color: white;
  font-family: var(--body-font);
  font-size: 1rem;
}
#navbar > #socials {
  grid-column: 3 / span 4;
  grid-row: calc(var(--page-rows) - 1) / span 1;
  padding: 0 0.25vw 0;
  display: flex;
}
#navbar > #socials > a > #insta, #youtube, #mail {
  height: 100%;
  padding: 0 1.3vw 0;
}

/* navbar projects buttons */
#project-list {
  grid-column: 1 / -1;
  grid-row: 7 / -9;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right: 0.5rem;
}
#wip-list {
  grid-column: 1 / -1;
  grid-row: 18 / -5;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right: 0.5rem;
}
#project-list > .project-button, 
#wip-list > .project-button {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  margin: 0.25rem 1rem 0.25rem 1rem;
  padding: 0.8rem 1rem;
  font-family: var(--body-font);
  color: white;
  background-color: var(--grey-black);
}
#project-list > .project-button:hover, 
#wip-list > .project-button:hover {
  background: var(--pink);
  cursor: pointer;
}
#project-list > .project-button.active, 
#wip-list > .project-button.active {
  background: white;
  color: var(--pink);
  cursor: default;
  pointer-events: none;
}
#project-list > .project-button > .title, 
#wip-list > .project-button > .title {
  font-size: 0.9rem;
}
#project-list > .project-button > .year, 
#wip-list > .project-button > .year {
  font-size: 0.8rem;
}
#project-list::-webkit-scrollbar, #wip-list::-webkit-scrollbar {
  width: 0.5rem; 
}
#project-list::-webkit-scrollbar-track,
#wip-list::-webkit-scrollbar-track {
  background: white;
  margin-right: 0.25rem;;
}
#project-list::-webkit-scrollbar-thumb,
#wip-list::-webkit-scrollbar-thumb{
  background-color: var(--green);
  margin-right: 0.25rem;
}
#finished-projects-title,
#wip-projects-title {
  grid-column: 1 / -1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  padding-bottom: 0.25rem;
  padding-left: 1.5rem;
  font-family: var(--body-font);
  font-size: 0.9rem;
  font-weight: 200;
  color: black
}
#finished-projects-title {
  grid-row: 6;
}
#wip-projects-title {
  grid-row: 17;
}

/* content */
#content {
  grid-column: 9 /calc(var(--page-cols) + 1);
  grid-row: 3 / calc(var(--page-rows) + 1);
  background-color: var(--grey-white);
  display: grid;
  grid-template-columns: repeat(calc(var(--page-cols) - 8), minmax(0, 1fr));
  grid-template-rows: repeat(calc(var(--page-rows) - 2), minmax(0, 1fr));
}
#content > #title-box {
  grid-column: 3 / calc(var(--page-cols) - 9);
  grid-row: 3;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-content: center;
  align-items: baseline;
  padding-bottom: 0.2rem;
  font-family: var(--display-font);
}
#content > #title-box > #title {
  font-size: 2.5rem;
}
#content > #title-box > #year {
  font-size: 1.5rem;
}
#content > #gallery {
  position: relative;
  grid-column: 5 / -5;
  grid-row: 5 / span 11;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
}
#content > .gallery-button {
  grid-row: 10;
  width: 2.5rem;
  height: auto;
  cursor: pointer;
}
#content > #left-gallery-button {
  grid-column: 3;
}
#content > #right-gallery-button {
  grid-column: -4;
}
#content > #gallery > #img-caption-combo {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
#content > #gallery > #img-caption-combo > img {
  max-width: 100%;
  max-height: 95%;
  object-fit: contain;
}
#content > #gallery > #img-caption-combo > #caption {
  color: black;
  font-size: 0.7rem;
  font-family: var(--fine-font);
  font-weight: 600;
  box-sizing: border-box;
  /* padding-bottom: 0.25rem; */
  padding-top: 0.25rem;
}
#content > #keywords-box {
  grid-column: 16 / -3;
  grid-row: 17 / span 2;
  overflow-y: hidden;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 0.25rem;
  font-size: 0.9rem;
  font-family: var(--fine-font);
}
#content > #keywords-box > .keyword-title {
  padding-left: 0.5rem;
  font-weight: 600;
}
#content > #keywords-box > .keyword {
  padding-left: 0.5rem;
}
#content > #tools-box {
  grid-column: 16 / -3;
  grid-row: 19 / span 2;
  overflow-y: hidden;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 0.25rem;
  font-size: 0.9rem;
  font-family: var(--fine-font);
}
#content > #tools-box > .tool-title {
  padding-left: 0.5rem;
  font-weight: 600;
}
#content > #tools-box > .tool {
  padding-left: 0.5rem;
}
#content > #description {    
  overflow-y: scroll;
  grid-column: 3 / span 12;
  grid-row:  17 / calc(var(--page-rows) - 2);
  font-size: 0.9rem;
  line-height: 1.3rem;
  font-family: var(--body-font);
}
#content > #description::-webkit-scrollbar {
  width: 0.5rem;
}
#content > #description::-webkit-scrollbar-thumb{
  background-color: var(--green);
  margin-right: 0.25rem;
}
#content > #description::-webkit-scrollbar-track{
  background: white;
  margin-right: 0.25rem;
}
#content > #doc-button-box {
    grid-row: 21 / -2;
    grid-column: 19 / -3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
#content > #doc-button-box > .doc-button {
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-left: 0.25rem;
  background-color: var(--green);
  grid-column: 20 / calc(var(--page-cols) + 1 - 8 - 2);
  grid-row: 21;
  text-decoration: none;
  cursor: pointer;
  padding: 1rem;
  margin-bottom: 0.5rem;
  width: 100%;
}
#content > #doc-button-box > .doc-button:hover {
  background-color: var(--pink);
}
#content > #doc-button-box > .doc-button > .doc-button-text {
  color: white;
  font-family: var(--body-font);
  font-size: 1rem;
}