/* root master oimniscient rules */
:root {
    /* page divisions */
    --page-rows: 24;
    --page-cols: 32;

    /* element fractionnal sizes */
    --header-h: 2;
    --navbar-w: 8;
    --logo-home: 2;

    /* colors */
    --bg-color: lightgrey;
    --header-color: rgb(87, 87, 87);
    --navbar-color: rgb(129, 129, 129);
        
    /* fonts */
    --body-font: 'Spline Sans', sans-serif;
    --altbody-font: 'Crimson Text', serif;
    --display-font: 'Bricolage Grotesque', sans-serif;
    --fine-font: 'Sofia Sans', sans-serif;

  }

/* page */
* {
  margin: 0;
}
html, body {
  width: 100vw;
  height: 100vh;
}

/* containers */
#home-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/* areas */
header {
  width: calc((var(--page-cols) - var(--navbar-w)) / var(--page-cols) * 100%);
  height: calc((var(--header-h) / var(--page-rows)) * 100%);
  background-color: var(--header-color);
}
#navbar {
  display: flex;
  width: calc((var(--navbar-w) / var(--page-cols)) * 100%);
  height: 100%;
  background-color: var(--navbar-color);
  justify-content: center;
}
#navbar > #fake-header {
  width: 100%;
  height: calc((var(--header-h) / var(--page-rows)) * 100%);
  background-color: rgb(92, 76, 76);
}
#navbar > #logo {
  padding-top: calc((1 / var(--page-rows)) * 100%);
  width: auto;
  height: calc((var(--logo-home) / var(--page-rows)) * 100%);
}