/* root master oimniscient rules */
:root {

    /* page divisions */
    --page-rows: 24;
    --page-cols: 32;

    /* element fractionnal sizes */
    --header-h: 2;
    --navbar-w: 8;
    --logo-home: 2;
    --socials: 1;

    /* colors */
    --bg-color: lightgrey;
    --header-color: rgb(87, 87, 87);
    --navbar-color: rgb(129, 129, 129);
        
    /* fonts */
    --body-font: 'Spline Sans', sans-serif;
    --altbody-font: 'Crimson Text', serif;
    --display-font: 'Bricolage Grotesque', sans-serif;
    --fine-font: 'Sofia Sans', sans-serif;

  }

/* page */
* {
  margin: 0;
}
html, body {
  width: 100vw;
  height: 100vh;
}

/* containers */
#home-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* navbar */
#navbar {
  display: flex;
  flex-direction: column;
  width: calc((var(--navbar-w) / var(--page-cols)) * 100%);
  height: 100%;
  background-color: var(--navbar-color);
  justify-content: space-between;
  align-items: center;
}
#navbar > #logo {
  /* margin-top: calc((-1* var(--header-h) / var(--page-rows)) * 100%); */
  margin-top: -2.8rem;
  /* height: calc((var(--logo-home) / var(--page-rows)) * 100%); */
  height: 6rem;
  width: fit-content;
}
#navbar > #socials {
  padding-bottom: 100px;
  width: auto;
  height: 50px;
}
#navbar > #socials > #insta, #youtube, #mail {
  width: auto;
  height: 100%;
}
#project-list {
  margin-top: calc((var(--header-h) / var(--page-rows)) * 100%);
  margin-bottom: calc((var(--header-h) / var(--page-rows)) * 100%);
  background-color: rgb(211, 211, 211);
  width: 100%;
  height: auto;
  overflow-y: scroll;
}
#project-list > .project {
  display: flex;
  justify-content: space-between;
  margin: 0.25rem 1rem 0.25rem 1rem;
  padding: 1.25rem;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}
#project-list > .project > .title {
  font-size: 1.2rem;
}
#project-list > .project > .year {
  font-size: 1rem;
}

/* header */
#header {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: calc((var(--header-h) / var(--page-rows)) * 100%);
  background-color: var(--header-color);
}
#header > p {
  font-size: 1.5rem;
  padding-top: calc((1 / var(--page-cols)) * 100%);
  padding-left: calc((10 / var(--page-cols)) * 100%);
  padding-right: calc((2 / var(--page-cols)) * 100%);
}

/* content */
#content-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
#content {
  width: 100%;
  height: 500px;
  background-color: pink;
}
content > #title {
  
}