/* root master oimniscient rules */
:root {

    /* page divisions */
    --page-rows: 3;
    --page-cols: 7;

    /* element fractionnal sizes */
    --header-h: 2;
    --navbar-w: 8;
    --logo-home: 2;
    --socials: 1;

    /* colors */
    --green: rgb(73, 112, 87);
    --green-shadow: rgb(58, 153, 145);
    --pink: #f58daf;
    --blue: rgb(226, 238, 255);
    --blue-dark: rgb(10, 10, 161);
    --grey: rgb(167, 167, 167);
    --grey-shadow: rgb(108, 108, 108);
    --grey-white: rgb(245, 245, 245);
    --grey-white-shadow: rgb(176, 176, 176);
    --grey-black: rgb(52, 52, 52);
        
    /* fonts */
    --body-font: 'Spline Sans', sans-serif;
    --altbody-font: 'Crimson Text', serif;
    --display-font: 'Bricolage Grotesque', sans-serif;
    --fine-font: 'Sofia Sans', sans-serif;

    /* radii */
    --button-corners: 0.2rem;
  }

/* page */
* {
  margin: 0;
}
html, body {
  width: 100vw;
  height: 100vh;
}

/* containers */
#splash-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(var(--grey), var(--grey-white) 100%);
  
}
#icons-container {
  padding: 10rem 3rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: fit-content;
  gap: 8rem;
}
#button-container {
  padding: 0 3rem 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: fit-content;
  gap: 4rem;
}

/* icons */
#icons-container > .icon {
  height: auto;
}
#icons-container > #bunny {
  width: 18rem;
  transform: scalex(-1);
}
#icons-container > #guy {
  width: 22rem;
}
#icons-container > #cactus {
  width: 15rem;
}
#icons-container > #cactus:hover {
  animation: rotateClockwise 1.8s linear infinite;
}
@keyframes rotateClockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* buttons */
#button-container > .language-button {
  background-color: var(--grey-black);
  border-radius: var(--button-corners);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: end;
  text-decoration: none;
  text-wrap: nowrap;
  overflow-x: clip;
  font-family: var(--body-font);
  color: var(--blue);
  font-size: 0.85rem;
}
#button-container > .language-button:hover {
  background-color: var(--pink);
  cursor: pointer;
  color: var(--blue-dark);
}
#button-container > .language-button > p {
  font-family: var(--body-font);
  font-size: 1.5rem;
  padding-left: 0.5rem;
}
#button-container > .language-button > #star {
  width: 1.5rem;
  height: auto;
  padding: 0.5rem;
}
#button-container > #fr-button:hover > #star,
#button-container > #eng-button:hover > #star {
  filter: brightness(50%) saturate(400%) contrast(200%);
}